.navbar-dark {
  .navbar-nav {
    .main-menu-item {
      text-transform: uppercase;
      color: white;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.35px;
      padding: 0;
      margin-right: 65px;
    }
  }
}