.also-main-tittle{
  color: #576671;
  font-size: 60px;
  font-weight: 200;
  letter-spacing: 1.5px;
}
.descriptions{
  color: #87949e;
  font-size: 18px;
  font-weight: 400;
}
.about-us-description{
  margin-bottom: 150px;
}
.about-us-item-description{
  margin-top: 50px;
  margin-bottom: 110px;
}
.about-item{
  h3{
    color: #000000;
    font-size: 30px;
    font-weight: 400;
  }
}
.our-services-title{
  margin-left: 50px;
  margin-bottom: 90px;

  @media (max-width: 550px){
    margin-left: 0;
    margin-bottom: 60px;
  }
}
